## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

2023-11-22 11:49:26.868385: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"])

In [3]:
# Drop ask amount to optimize model - ATTEMPT 3
application_df = application_df.drop(columns=["ASK_AMT"])

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
STATUS                     2
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
IS_SUCCESSFUL              2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
counts = application_df["APPLICATION_TYPE"].value_counts()
counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# Changing bin amount to optimize model - ATTEMPT 2
application_types_to_replace = list(counts[counts <= 1000].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: count, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df["CLASSIFICATION"].value_counts()
class_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1248        1
C6100        1
C1820        1
C1900        1
C2150        1
Name: count, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts[class_counts>1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C1720        6
C4100        6
C2400        6
C1600        5
C1257        5
C2710        3
C0           3
C1260        3
C1256        2
C1234        2
C1267        2
C1246        2
C3200        2
Name: count, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_counts[class_counts <= 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
dummy_df = pd.get_dummies(application_df)
dummy_df.head()

,STATUS,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,1,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,1,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,0,False,False,False,False,True,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,1,False,False,True,False,False,False,True,False,...,False,True,False,False,False,False,False,False,True,False
4,1,1,False,False,True,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [11]:
# Split our preprocessed data into our features and target arrays
x = dummy_df.drop(columns=["IS_SUCCESSFUL"], axis=1).values
y = dummy_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=1)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
x_scaler = scaler.fit(x_train)

# Scale the data
x_train_scaled = x_scaler.transform(x_train)
x_test_scaled = x_scaler.transform(x_test)

## Compile, Train and Evaluate the Model

In [13]:
input = x_train_scaled.shape[1]
input

39

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# Hidden layers - increasing neurons and number of layers to optimize model - ATTEMPT 1
nn.add(tf.keras.layers.Dense(units=100, activation="relu", input_dim=input))
nn.add(tf.keras.layers.Dense(units=100, activation="relu"))
nn.add(tf.keras.layers.Dense(units=100, activation="relu"))
nn.add(tf.keras.layers.Dense(units=100, activation="relu"))
nn.add(tf.keras.layers.Dense(units=100, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation = "sigmoid"))
       
# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               4000

 dense_1 (Dense)             (None, 100)               10100

 dense_2 (Dense)             (None, 100)               10100

 dense_3 (Dense)             (None, 100)               10100

 dense_4 (Dense)             (None, 100)               10100

 dense_5 (Dense)             (None, 1)                 101

=================================================================
Total params: 44501 (173.83 KB)
Trainable params: 44501 (173.83 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
# Train the model
fit_model = nn.fit(x_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 0.5722 - accuracy: 0.7208
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5580 - accuracy: 0.7305
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5552 - accuracy: 0.7315
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5545 - accuracy: 0.7315
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5526 - accuracy: 0.7322
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5513 - accuracy: 0.7325
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5511 - accuracy: 0.7324
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5497 - accuracy: 0.7336
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5502 - accuracy: 0.7329
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5490 - accuracy: 0.7335
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5488 - accuracy: 0.7352
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7350
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7346
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5474 - accuracy: 0.7350
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7352
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7354
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5463 - accuracy: 0.7356
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7369
Epoch 19/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5455 - accuracy: 0.7357
Epoch 20/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5455 - accuracy: 0.7360
Epoch 21/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5451 - accuracy: 0.7371
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7369
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7366
Epoch 24/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5445 - accuracy: 0.7376
Epoch 25/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5442 - accuracy: 0.7368
Epoch 26/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5439 - accuracy: 0.7364
Epoch 27/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5436 - accuracy: 0.7372
Epoch 28/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5434 - accuracy: 0.7373
Epoch 29/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5429 - accuracy: 0.7378
Epoch 30/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5424 - accuracy: 0.7378
Epoch 31/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5421 - accuracy: 0.7385
Epoch 32/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5422 - accuracy: 0.7375
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7380
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7387
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7380
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5419 - accuracy: 0.7386
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7385
Epoch 38/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5411 - accuracy: 0.7389
Epoch 39/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5423 - accuracy: 0.7377
Epoch 40/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5409 - accuracy: 0.7386
Epoch 41/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5421 - accuracy: 0.7381
Epoch 42/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5406 - accuracy: 0.7388
Epoch 43/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5405 - accuracy: 0.7378
Epoch 44/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5404 - accuracy: 0.7387
Epoch 45/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5400 - accuracy: 0.7390
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7390
Epoch 47/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5397 - accuracy: 0.7389
Epoch 48/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5395 - accuracy: 0.7392
Epoch 49/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5403 - accuracy: 0.7384
Epoch 50/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5393 - accuracy: 0.7392

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(x_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5690 - accuracy: 0.7289 - 541ms/epoch - 2ms/step
Loss: 0.5690032839775085, Accuracy: 0.728863000869751

In [18]:
# Export our model to HDF5 file
output_file = "Output/AlphabetSoupOptimized.h5"
nn.save(output_file)

/Users/emilyshewcraft/anaconda3/envs/dev/lib/python3.10/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(